<html>
    <head>
        <link rel="stylesheet" href="../CSS/Footer.css">
    </head>
    <footer>
        <div class="top">
            <div class="top1">
                <a href="/Home" class="home_link">
                    <div class="footer_logo">
                        <img src="../Images/Logo/book_logo.png" width="100px" height="70px">
                        <h1>BOOKHOUSE</h1>
                    </div>
                </a>
                <p>"A room without books is like a body without a soul."</p>
                <h2>Follow us</h2>
                <div class="social">
                    <a href="https://www.facebook.com">
                        <div class="social1">
                            <img src="../Images/Social/facebook.png">
                        </div>
                    </a>
                    <a href="https://www.instagram.com/keps__028/">
                        <div class="social1">
                            <img src="../Images/Social/insta.png">
                        </div>
                    </a>
                    <a href="https://www.twitter.com/keps__028/">
                        <div class="social1">
                            <img src="../Images/Social/twitter.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="top2">
                <h1>Links</h1>
                <ul>
                    <li><a href="/Home">Home</a></li>
                    <li><a href="/Book">Books</a></li>
                    <li><a href="/Author">Author</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </div>
            <div class="top3">
                <h1>Support</h1>
                <ul>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href="#">Support Center</a></li>
                    <li><a href="Feedback.html">Feedback</a></li>
                </ul>
            </div>
            <div class="top4">
                <h1>Contact</h1>
                <ul>
                    <li><a href="tel:9898532307">+88014</a></li>
                    <li><a href="mailto:kushpatel0028@gmail.com">Bookhouse@gmail.com</a></li>
                    <li><a href="https://goo.gl/maps/2kPAk3CadqHqrrpY9">VGEC,Chandkheda ,Ahmedabad</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <div class="bottom">
        &copy; copyright 2023 BOOKHOUSE | All rights reserved
    </div>
    
</html>